[tool.poetry]
name = "peregrine"
version = "3.2.2"
description = "Query interface to get insights into data in Gen3 Commons"
authors = ["CTDS UChicago <cdis@uchicago.edu>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/uc-cdis/peregrine"
include = [
  "NOTICE",
]

[tool.poetry.dependencies]
python = ">=3.9,<3.10"
authutils = {git = "https://git@github.com/uc-cdis/authutils.git", branch = "feat/jq-testing"}
gen3datamodel = {git = "https://git@github.com/uc-cdis/gdcdatamodel.git", branch = "fix/fips-hashing"}
datamodelutils = ">=1.0"
defusedxml = ">=0.5"
dictionaryutils = ">=3.4.10"
gen3dictionary = ">=2.0.3"
simplejson = ">=3.8"
stopit = ">=1.1"
Flask = ">=2.2.5"
Flask-Cors = ">=3.0.9"
gen3authz = ">=0.2"
PyYAML = ">=5.4.1"
dicttoxml = ">=1.5"
SQLAlchemy = "1.3.5"
graphene = ">=2.0,<3"
promise = ">=2.2"
Flask-SQLAlchemy-Session = ">=1.1"
psqlgraph = ">=3.0"
cdispyutils = ">=1.0"
cdiserrors = ">=0.1"
cdislogging = ">=1.0"
gunicorn = ">=21.2.0"

[tool.poetry.dev-dependencies]
pytest = ">=6.0"
cryptography = "*"
mock = ">=1.0"
pytest-flask = ">=0.15"
pytest-cov = ">=2.8"
indexclient = ">=2.1.1"
sheepdog = {git = "https://git@github.com/uc-cdis/sheepdog.git", rev = "5.1.3" }

[tool.poetry.plugins."peregrine.modules"]
"system" = "peregrine=peregrine.api:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
