defusedxml==0.5.0
SurvivalPy==1.0.2
simplejson==3.8.1
functools32==3.2.3-2
lxml==3.4.1
fuzzywuzzy==0.6.1
addict==0.2.7
Flask==0.10.1
Flask-Cors==1.9.0
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.9.6
boto==2.36.0
requests==2.5.2
six==1.10.0
urllib3==1.10.0
wsgiref==0.1.2
dicttoxml==1.5.8
sqlalchemy==0.9.9
python-dateutil==2.4.2
graphene==2.0.1
graphql-relay==0.4.5
psycopg2cffi==2.7.7
Flask-SQLAlchemy-Session==1.1
-e git+https://git@github.com/uc-cdis/cdis_oauth2client.git@0.1.3#egg=cdis_oauth2client
-e git+https://git@github.com/uc-cdis/datadictionary.git@0.2.0#egg=gdcdictionary
-e git+https://git@github.com/uc-cdis/gdcdatamodel.git@1.3.3#egg=gdcdatamodel
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@5cddf49dd03a25bd4e553161d7ad7b9a6fe0ac0d#egg=psqlgraph
-e git+https://git@github.com/NCI-GDC/cdisutils.git@8a8e599fdab5ade9bd8c586132d974a102e5d72d#egg=cdisutils
-e git+https://git@github.com/uc-cdis/userdatamodel.git@1.0.4#egg=userdatamodel
-e git+https://git@github.com/uc-cdis/cdis-python-utils.git@0.1.5#egg=cdispyutils
-e git+https://git@github.com/uc-cdis/storage-client.git@0.1.1#egg=storageclient
-e git+https://git@github.com/uc-cdis/dictionaryutils.git@2.0.2#egg=dictionaryutils
-e git+https://git@github.com/uc-cdis/datamodelutils.git@0.4.0#egg=datamodelutils
-e git+https://git@github.com/uc-cdis/graphql-core.git@cdis2.0.0#egg=graphql-core
-e git+https://git@github.com/uc-cdis/cdiserrors.git@0.0.4#egg=cdiserrors
-e git+https://git@github.com/uc-cdis/cdislogging.git@master#egg=cdislogging
-e git+https://git@github.com/uc-cdis/authutils.git@1.1.2#egg=authutils
